div {
  border: 2px solid blue;
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  max-width: 600px;
}

button {
  border: 2px solid blue;
  border-radius: 20px;
  cursor: pointer;
}
