/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 3s linear;
  --transition2: all 0.25s ease-in;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.row {
  width: 100%;
  overflow: hidden;
}

[class*="col-"] {
  float: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-7);
  color: var(--clr-grey-1);
  font-size: 0.875rem;
}
main {
  height: 100vh;
  background: url(/slike/quiz.jpeg) no-repeat center/cover;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-grey-1);
}
a:visited {
  color: var(--clr-grey-1);
}
.box {
  height: 200px;
  display: grid;
  place-items: center;
  background: transparent;
  border: 2px solid blue;
  letter-spacing: 3px;
  font-size: 1.75rem;
  text-transform: uppercase;
  border-radius: 20px;
  color: var(--clr-white);
  transition: var(--transition2);
  animation: show 3s linear 1;
}
.box:hover {
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.header {
  text-align: center;
}
.header p {
  font-size: 1.2rem;
  background: rgb(4, 4, 18);
  padding-bottom: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
h1 {
  font-size: 2rem;
  background: rgb(28, 28, 87);
  padding-top: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.header-title {
  color: var(--clr-grey-10);
  padding: 1rem 0;
}
.box:hover h2 {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
}

.filozofija:hover {
  background: url(/slike/phil.jpg) no-repeat center/cover;
}
.film:hover {
  background: url(/slike/film.jpg) center/cover;
}
.knjizevnost:hover {
  background: url(/slike/knjiz.jpg) no-repeat center/cover;
}
.muzika:hover {
  background: url(/slike/music.jpg) no-repeat center/cover;
}

section {
  margin: 0;
  padding: 0;
}
/*
=============== 
Grid Global
===============
*/

@media only screen and (min-width: 700px) {
  [class*="col-"] {
    float: left;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 699px) {
  [class*="col-"] {
    float: left;
    width: 100%;
  }
  .col-1 {
    display: none;
  }
  .box {
    border-radius: 0px;
    background-color: var(--clr-grey-3);
    border: 1px solid blue;
  }
  .header p,
  h1 {
    background: var(--clr-grey-3);
  }
}
